<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div layout:fragment="content">

    <section class="section">
        <div class="row">
            <div class="col">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Moje projekty</h5>

                        <!-- Default Table -->
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Nazwa projektu</th>
                                <th scope="col">Opis</th>
                                <th scope="col">Tagi</th>
                                <th scope="col">Szczegóły</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each = "projects: ${projects}">
<!--                                <th scope="row">5</th>-->
                                <td th:text="${projects.projectTitle}"></td>
                                <td th:text="${projects.description}"></td>
                                <td th:text="${projects.tags}"></td>
                                <td>
                                    <a th:href="@{'project' + ${projects.id}}">Link</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- End Default Table Example -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>